{% extends 'base.html.twig' %}

{% block body %}
<div class="tabbedContent">
            <div id="status">
                <ul>
                    {% for competition in competitions %}
                        <li><a href="{{ path('fixtures', {'code': competition.id}) }}">{{ competition.caption }}</a></li>
                    {% endfor %}
                </ul>
            </div>
</div>
{% endblock %}
